* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Unbounded", cursive;
}

.main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100vh;
}

/* Left side */
.left-container {
  display: flex;
  flex-direction: column;
  flex: 0.6;
  padding: 2rem;
  color: #fff;
  background-color: #5472fb;
  box-shadow: 0 0 60px #5472fb;
}

.logo-container {
  flex: 0.1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* border: 1px solid #fff; */
}

.logo-container img {
  width: 250px;
  height: auto;
  cursor: pointer;
}

.description-container {
  flex: 0.3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
  line-height: 1.5em;
  /* border: 1px solid #fff; */
}

.description-container span {
  font-size: 1em;
  font-weight: 900;
  background-color: #fff;
  color: #5472fb;
}

.steps-container {
  flex: 0.6;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid #fff; */
}

.steps-container img {
  width: 100%;
  height: auto;
}

/* Right side */
.right-container {
  display: flex;
  flex-direction: column;
  flex: 0.4;
  color: #5472fb;
  padding: 2rem;
  border: 1px solid #4f030c;
}

.right-container a {
  height: 5rem;
}

.top-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid #5472fb; */
}

.top-container h1 {
  font-size: 2em;
  font-weight: 900;
  margin-bottom: 1rem;
}

.middle-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  /* border: 1px solid #5472fb; */
}

.middle-container h2 {
  font-size: 1.5em;
  font-weight: 900;
  margin-bottom: 1rem;
  margin-top: 1rem;
  background-color: #5472fb;
  color: #fff;

}

.middle-container input {
  width: 100%;
  text-align: center;
  height: 3rem;
  border: 1px solid #5472fb;
  border-radius: 5px;
  padding: 0 1rem;
  font-size: 1em;
  margin-bottom: 1rem;
}

.middle-container .payment-button {
  margin-top: 1rem;
  height: 4.5rem;
  font-size: 1.4em;
  border: none;
  outline: none;
}

.select-input {
  width: 100%;
  text-align: center;
  height: 3rem;
  border: 1px solid #5472fb;
  border-radius: 5px;
  padding: 0 1rem;
  font-size: 1em;
  margin-bottom: 1rem;
}

.payment-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 300% 300%;
  color: #fff;
  font-size: 1.4em;
  font-weight: 900;
  animation: gradient 2.5s ease infinite;
  border-radius: 8px;
  padding: 1em;
  height: 7rem;
  width: 100%;
  text-align: center;
  cursor: pointer;
  border: none;
  outline: none;

  display: inline-block; /* Make the element an inline block */
}

.made-by {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0.9rem;
  background-color: rgb(53, 53, 53);
  font-family: sans-serif;
  font-size: 14px;
  color: #fff;
  border-radius: 0 8px 0 0;
}

.made-by a {
  color: #5472fb;
}

.stripe-button {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  height: 5rem;
  width: 90%;
  text-align: center;
  cursor: pointer;
  border: 1px solid #5472fb;
  border-radius: 8px;
  outline: none;
  font-size: 1.4em;
  font-weight: 900;
  color: #5472fb;
}

.stripe-button:hover {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.payment-button:hover {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
    transform: scale(1);
  }
  50% {
    background-position: 100% 50%;
    transform: scale(1.05);
  }
  100% {
    background-position: 0% 50%;
    transform: scale(1);
  }
}

.nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #5472fb;
  color: #fff;
  font-size: 1.4em;
  font-weight: 900;
}

.resultados-body {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.resultados-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  margin-top: 2rem;
  /* border: 3px solid #0cff0c; */
}

.item-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
  max-width: 260px;
  transition: all 0.3s ease-in-out;
  border: 1px solid #5472fb;
  border-radius: 8px;
}
 
.item-card:hover {
  transform: scale(1.05);
}
 

.item-card img {
  border-radius: 8px 8px 0 0;
  width: 258px;
  height: auto;
}

.item-card .name {
  font-size: 1em;
  font-weight: 900;
  margin-bottom: 0.5rem;
}
.price {
  font-size: 1.2em;
  font-weight: 900;
  margin-bottom: 0.5rem;
  color: #5472fb;
}

.item-info{
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* border: 3px solid #5472fb; */
}