* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Unbounded", cursive;
}

.main-container {
  display: flex;
  height: 100vh;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Left side */
.left-container {
  display: flex;
  flex-direction: column;
  flex: 0.6;
  padding: 2rem;
  color: #fff;
  background-color: #5472fb;
  box-shadow: 0 0 60px #5472fb;
}

.logo-container {
  flex: 0.1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* border: 1px solid #fff; */
}

.logo-container img {
  width: 250px;
  height: auto;
  cursor: pointer;
}

.description-container {
  flex: 0.3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
  line-height: 1.5em;
  /* border: 1px solid #fff; */
}

.description-container span {
  font-size: 1em;
  font-weight: 900;
  background-color: #fff;
  color: #5472fb;
}

.steps-container {
  flex: 0.6;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid #fff; */
}

.steps-container img {
  width: 100%;
  height: auto;
}

/* Right side */
.right-container {
  display: flex;
  flex-direction: column;
  flex: 0.4;
  color: #5472fb;
  padding: 2rem;
}

.top-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid #5472fb; */
}

.top-container h1 {
  font-size: 2em;
  font-weight: 900;
  margin-bottom: 1rem;
}

.middle-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid #5472fb; */
}

.middle-container h2 {
  font-size: 1.5em;
  font-weight: 900;
  margin-bottom: 1rem;
  background-color: #5472fb;
  color: #fff;
}

.middle-container input {
  width: 60%;
  height: 3rem;
  border: 1px solid #5472fb;
  border-radius: 5px;
  padding: 0 1rem;
  font-size: 1em;
  margin-bottom: 1rem;
}

.select-input {
  width: 60%;
  height: 3rem;
  border: 1px solid #5472fb;
  border-radius: 5px;
  padding: 0 1rem;
  font-size: 1em;
  margin-bottom: 1rem;
}