{% extends "base.html" %} {% load static %} {% block content %} {% include "navbar.html" %}
<div class="resultados-body">
  <h1>✅ Coincidencias según tus parametros: {{ matches }}</h1>

  <div class="resultados-container">
    {% for product in results %}
    <a href="{{ product.product_link }}" target="_blank">
      <div class="item-card">
        <img src="{{ product.images.0 }}" alt="Imagen del producto" />
        <div class="item-info-container">
          <p class="name">{{ product.name }}</p>

          <div class="item-info">
            {% if product.price_discount == 0 %}
            <p class="price">{{ product.price_original }}€</p>
            {% else %}
            <p class="price">{{ product.price_discount }}€</p>
            <p class="price-old">{{ product.price_original }}€</p>
            {% endif %}
            <p class="rating">{{ product.rating }} ⭐</p>
          </div>

          <div class="item-sizes">
            <p>{{ product.sizes }}</p>
          </div>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
{% endblock %}
